<section
    class="overflow-hidden bg-[url(https://media.contentapi.ea.com/content/dam/ea/fc/fc-24/images/2024/05/fc24-hero-md-euros-7x2-xl-no-logo.jpg.adapt.crop7x2.1920w.jpg)] bg-cover bg-contain bg-center bg-no-repeat py-20">
    <div class="p-8 md:p-12 lg:px-16">
    </div>
    <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-10 lg:items-center lg:px-8">
        <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right mb-8">
            <div class=" eapl-hero__content eapl-animate__content">
                <div class="eapl-hero__accolades" hidden="">
                    <slot name="hero-accolades"></slot>
                </div>
                <h3 class="eapl-hero__eyebrow h6 h6-dark eapl-animate__eyebrow" hidden=""></h3><img
                    class="eapl-hero__logo" alt=""
                    src="https://media.contentapi.ea.com/content/dam/ea/fc/fc-24/common/homepage/euro-offer/fc24-uefa-euro-logo-xl-l.png">
                <h1 class="eapl-hero__title d3 d3-dark eapl-animate__title">L'UEFA EURO&nbsp;24™ FAIT PARTIE DU CLUB
                </h1>
                <h2 class="eapl-hero__subtitle h6 h6-dark eapl-animate__subtitle" hidden=""></h2>
                <h6 class="eapl-hero__body b2 b2-dark eapl-animate__body">Disputez l'UEFA EURO&nbsp;2024™ dans EA SPORTS
                    FC™&nbsp;24.</h6>
            </div>
            <div class="mt-8 flex flex-wrap gap-4 text-center">
                <a href="#"
                    class="block w-full rounded-full bg-green-400 px-8 py-4 text-sm font-medium text-white shadow hover:bg-green-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto">
                    Get Started
                </a>

                <a href="#"
                    class="block w-full border-4 border-slate-950 rounded-full bg-white px-8 py-3 text-sm font-medium text-black-600 shadow hover:text-black-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto">
                    Learn More
                </a>
            </div>
        </div>
    </div>
</section>